* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    background-color: #fafafa;
    color: #222;
}

header {
  margin: 0 auto;  
  max-width: 1600px;
  width: 100%;
  background-color: rgb(29, 77, 114);
  color: #fff;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
}

.info h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.info ul {
  list-style: none;
  line-height: 1.5;
}

.data-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center; 
  width: fit-content;
}

.data-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem; 
  text-align: left;
  padding: 4px;
}

.data-list strong {
  text-align: right;  
  font-weight: 600;
  color: #333;
}

hr {
    margin-top: 30px; 
    margin-bottom: 20px;
    border: none;
    width: 800px;
    height: 2px;
    background-color: #ccc;
       
}
.weather img {
  margin: 0 0 20px 50px;  
  width: 150px;
  height: auto;
  
}

footer {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgb(29, 77, 114);
    text-align: center;
    color: white;
}

#footer-title {
    margin-top: 10px;
    font-size: 30px;
}

#lastmodified {
    margin-top: 10px;
    font-size: 25px;
}