
@media (min-width: 815px){
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100; 
  display: flex;
  flex-direction: column;
  
}

header {
  margin: 0 auto;  
  max-width: 1600px;
  width: 100%;
  background-color: rgb(29, 77, 114);
  color: #fff;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  position: relative;
  flex-grow: 1;
}
.hero {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
picture {  
  width: 100%;
  height: auto;
  display: block;
}

.info {
  position: absolute;  
  transform: none;
  width: 350px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-size: 1.25rem;
}

.data {
  left: 3%;
  top: 5%;
  border-left: 6px solid #1a7b3b;
}

.weather {
  right: 5%;
  bottom: 5%;
  border-left: 6px solid #1a7b3b;
}

.weather img {
  display: none;
  
}
.info h2 {
  position: relative;
  left: -30px;
  top: -5px;
  background-color: #1a7b3b;
  color: white;
  padding: .4rem;  
  margin-bottom: 0.5rem;
  border-radius: 4px;
  font-size: 2rem;
}

.info ul {
  list-style: none;
  line-height: 1.5;
}

.data-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center; 
  width: fit-content;
}

.data-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem; 
  text-align: left;
  padding: 4px;
}

.data-list strong {
  text-align: right;  
  font-weight: 600;
  color: #333;
}

footer {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgb(29, 77, 114);
    text-align: center;
    color: white;
}

#footer-title {
    margin-top: 10px;
    font-size: 30px;
}

#lastmodified {
    margin-top: 10px;
    font-size: 25px;
}
}